<h1>Listing dress_parsers</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dress_parsers.each do |dress_parser| %>
  <tr>
    <td><%= link_to 'Show', dress_parser %></td>
    <td><%= link_to 'Edit', edit_dress_parser_path(dress_parser) %></td>
    <td><%= link_to 'Destroy', dress_parser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dress parser', new_dress_parser_path %>
