@import "bootstrap";
@import "bootstrap-responsive";
@import "isotope";


h1{
	font-family: Century Gothic, sans-serif; 
	font-size: 50px; 
	font-weight:normal;
	text-decoration: none;
	background-color: #FFFFFF;
	color: #000000;
	margin-top: 60px;
}

a{
	color: #008B8B;
}

a#logo
{
	text-decoration: none;
	background-color: #FFFFFF;
	color: #000000;
}
a:hover#logo
{
	color: #008B8B;
}

#logo_line{
	height: 4px;
	background-color: #000000;
	margin-bottom: 10px;
}

.container{
	width:75%;
	margin-top: 40px;
	margin-bottom: 40px;
}


.pagination {
	display:block;
	float: right;
	font-family: Century Gothic, sans-serif;
	font-size:13px;
	text-align: right;
	padding: 1em;
	cursor: default;}
.pagination a, .pagination span {
	padding: 0.2em 0.7em; }
.pagination .disabled {
	color: #aaaaaa; }
.pagination .current {
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	color: #008B8B;	}
.pagination a {
	text-decoration: none;
	color: black; }
.pagination a:hover, .pagination a:focus {
	text-decoration: none;
	color: #D3D3D3;}

#dress_container{
	display:block;
	padding-top:10px;}



#dresses{
	
	#filter_panel{
		width: 100%;
		height: 50px;
		background-color: #D3D3D3;
		margin-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
	}


	.title{
		color: #000000;
		font-family: Century Gothic, sans-serif; 
	}
	
	.card{
		border: 1px;
		border-style: solid;
		border-color: #000000;
		margin: 5px;
		float: left;

		.image img{
			max-height:300px;
		}

	}
	.card:hover{
		border-color: #A9A9A9;
		
		.title{
			color: #008B8B;
		}
	}
}



#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
