#dresses
  #filter_panel
    .btn-group
      %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        Fabric
        %span.caret
      %ul.dropdown-menu#filters
        %li
          %a.dress-toggle{"data-filter" => "*", :href => "#"} show all
        %li
          %a.dress-toggle{"data-filter" => ".silk", :href => "#"} silk
        %li
          %a.dress-toggle{"data-filter" => ".polyester", :href => "#"} polyester
        %li
          %a.dress-toggle{"data-filter" => ".cashmere", :href => "#"} cashmere
        %li
          %a.dress-toggle{"data-filter" => ".cotton", :href => "#"} cotton

  #dress_container
    .page
      - @dresses.each do |dress|
        = render "dress", dress:dress

  / = paginate @dresses 
