<!DOCTYPE html>
<html>
	<head>
	  <title>ClothDB</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<h1><a href="/" id="logo">clothDB</a></h1>
		<div id="logo_line"></div>
		<div id="container">
			<%= yield %>
		</div>
		<%= javascript_include_tag "application" %>
	</body>
</html>
